{% extends 'base/base.html' %}
  {% load static %}

  {% block title %} Mascota {% endblock %}

  {% block header %}Header Mascota{% endblock %}

  {% block app_content %}
    <div class="container table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha de Rescate</td>
            <td>Adoptante</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% if mascotas %}
            {% for mascota in mascotas %}
              <tr>
                <td>{{ mascota.id }}</td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.sexo }}</td>
                <td>{{ mascota.edad_aproximada }}</td>
                <td>{{ mascota.fecha_rescate }}</td>
                <td>{% if mascota.persona.nombre %} {{mascota.persona.nombre}} {% else %} --- {% endif %}</td>
                <td>
                  <a class="btn btn-sm btn-warning" href="{% url 'mascota:editar' mascota.id %}">Editar</a>
                  <a class="btn btn-sm btn-danger" data-delete_id="{{ mascota.id }}">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
              <h2>Sin registros</h2>
          {% endif %}
        </tbody>
      </table>
    </div>

    {% include 'base/crud/delete_modal.html' %}
  {% endblock %}

  {% block footer_js %}
    <script src="{% static 'js/crud/delete_modal.js' %}"></script>
  {% endblock %}